<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/answerassign">
    <label for="question">Choose question:</label><br>
    <select id="question" name="question">
        <option th:value="${question.getId()}" data-th-each="question : ${questionList}" data-th-text="${question.getText()}"></option>
    </select>

    <br>

    <label for="answer">Input your question:</label><br>
    <select id="answer" name="answer">
        <option th:value="${answer.getId()}" data-th-each="answer : ${answersList}" data-th-text="${answer.getText()}"></option>
    </select>

    <br>

    <input type="submit" value="Submit">
</form>

</body>
</html>