<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/admin">Admin</a></li>
</ul>

</br>
<h3>First name</h3></br>
<a th:text="${user.getFirstname()}"></a></br>
<h3>Last name</h3></br>
<a th:text="${user.getLastname()}"></a></br>
<h3>Age</h3></br>
<a th:text="${user.getAge()}"></a></br>
<h3>Group name</h3></br>
<a th:text="${user.getGroupName()}"></a></br>
<h3>Interests</h3></br>
<a th:text="${user.getInterests()}"></a></br>


<ul>
    <li><a href="/useredit">Update</a></li>
</ul>




</body>
</html>