<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table style="width:100%">
    <tr>
        <th>Users</th>
        <th>Action</th>
    </tr>
    <tr data-th-each="user : ${userList}">
        <td data-th-text="${user.getEmail()}"></td>
        <td>

            <form action="/userupdateform">
                <input type="hidden" th:value="${user.getId()}" name="userId"/>
                <input type="submit" value="update"/>
            </form>

        </td>
    </tr>
</table>

</body>
</html>